/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form label:first-child {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.timer {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}
.value {
   font-size: 40px;
}
.label {
  text-transform: uppercase;
  font-size: 14px;
}
